<h1>Website Hits</h1>

<%= hits.total %>

<table>
	<tr>
		<th>Time</th>
		<th>Referrer</th>
	<tr>

<%= @hits.each do |hit| %>
	<tr>
		<td><%= hit.created_at %></td>
		<td><%= hit.uri %></td>
	</tr>
<% end %>
</table>


