<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Analytics Tool", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "About",   '/static_pages/about' %></li>
        <li><%= link_to "Sign in", '/static_pages/sign_in' %></li>
      </ul>
    </nav>
  </div>
</header>